*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/flyavis/android/ui/map/
src/release/
/app/src/debug/res/values/google_maps_api.xml
.idea/assetWizardSettings.xml
.idea/encodings.xml
.idea/navEditor.xml
